
.question-view {
    border: 1px solid black;
    box-shadow: lightblue;
    background-color: #F0F2F5;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30%;
}
.quiz-view {
    padding: 0% 20%;
    list-style: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.red, .green {
    font-weight: bold;
}

.hidden {
    display: none;
}
.symbol {
    display: inline;
}

.score {
    text-align: center;
}

/* finish styling, keep going
*/