.create-question {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    margin: 0px 10%;
    align-items: center;
}

.create-question .answer{
    margin: 0px 100px;
}

.create-question button {
    display: flex;
    justify-self: center;
}