.create-question {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    margin: 0px 10%;
    align-items: center;
}

.create-question .answer{
    margin: 0px 100px;
}

.create-quiz button {
    /* display: flex; */
    /* justify-self: center; */
    display: block;
    margin: auto;
}

.create-quiz .quiz-buttons {
    margin: auto;
    display: flex;
    justify-content: center;
}

.setup {
    display: block;
    margin: auto;
}

.create-quiz label{
    text-align: center; 
}

